/* Customização e suavização dos ícones */
mat-icon {
  user-select: none;
  font-size: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Transições fluidas para as bordas do aside */
aside {
  transition: border-radius 0.4s cubic-bezier(0.25, 1, 0.5, 1), 
              box-shadow 0.3s ease;
  will-change: width, border-radius;
}

/* Efeito Glow suave no hover da Sidebar quando expandida */
aside:hover {
  box-shadow: 0 20px 25px -5px rgba(12, 94, 90, 0.637), 
              0 0 15px 1px rgba(245, 158, 11, 0.05); /* Glow cor de Amber */
}

/* Scrollbar invisível mas funcional para a lista de itens */
nav::-webkit-scrollbar {
  width: 0px;
}